@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #EFEBE8;
    color:#FFEDE3;
    width:100%;
    box-sizing: border-box;
    margin:0;
}

h1{
    font-weight:700;
    font-size:80px;
    text-align:left;
    margin:1%;
    letter-spacing:4px;
}
.beauty{
    font-family: 'Cutive Mono', monospace;
    font-size:90px;
    text-align:left;
    color:#FB5660;
    letter-spacing:2px;

}

h3{
    font-weight:700;
    font-size:36px;
    text-align:center;
}

h5{
    font-weight:600;
    font-size:20px;
    text-align:center;
    margin:1%;
}

p{
    font-weight:400;
    font-size: 15px;
    text-align:center;
}